---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const allPosts = await getCollection("blog")
const tags = allPosts.map((post: any) => post.data.tags).flat().
reduce<{ [key: string]: number }>(function (result, c) {
    var count = result[c] || 0;
    result[c] = count + 1;
    return result;
}, {});

---

<Layout pageTitle="UmYeah's Tags">
    <h4>oOo you looking around?</h4>
    <section id="tags">
        {
            Object.keys(tags).map((tag) => (
                <p><a href={`/tags/${tag}`}>{tag} ({tags[tag]})</a></p>
            ))
        }
    </section>
</Layout>
