---
import Layout from '../layouts/Layout.astro';
import Monkey from "../assets/monkey.png";
---

<Layout>
	<section id="about">
		<img src={Monkey.src} alt="UmYeah Monkey" />
		<h3>Hey I'm Corey</h3>
		<p>I'm going to start <a href="/blog">writing</a> about stuff!</p>
		<p>I like <a href="/tags/music">music</a> and <a href="/tags/movies">movies</a> and who knows what else</p>
		<p>Principal Software Engineer at <a href="https://www.dataminr.com" target="_blank">Dataminr</a></p>
	</section>
</Layout>
