---
---
<button id="themeToggle">
    <i class="fa-solid fa-sun sun"></i>
    <i class="fa-solid fa-moon moon"></i>
</button>

<style>
    #themeToggle {
        border: 0;
        background: none;
    }
    .sun { fill: black; }
    .moon { fill: transparent; }

    :global(.dark) .sun { fill: transparent; }
    :global(.dark) .moon { fill: white; }
</style>

<script is:inline>
    const theme = (() => {
        const localStorageTheme = localStorage?.getItem("theme") ?? '';
        if (['dark', 'light'].includes(localStorageTheme)) {
            return localStorageTheme;
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
    })();

    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }

    window.localStorage.setItem('theme', theme);

    const handleToggleClick = () => {
        const element = document.documentElement;
        element.classList.toggle("dark");

        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    }

    document.getElementById("themeToggle")?.addEventListener("click", handleToggleClick);
</script>