---
import '../styles/global.css'
import Navigation from './Navigation.astro'
import Footer from "./Footer.astro";

interface Props {
	pageTitle?: string;
}
const { pageTitle= "UmYeah's Dev" } = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7JFKWKS7V4" />
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-7JFKWKS7V4');
		</script>
		<script is:inline src="https://kit.fontawesome.com/c814bbafd8.js" crossorigin="anonymous" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html.dark {
		background-color: #202;
		color: #fef;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		margin: 0;
	}

	main {
		flex: 1;
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em 1em;
		text-align: center;
	}

	@media (max-width: 720px) {
		main {
			padding: 1em 0;
		}
	}
</style>
