---
import '../styles/global.css'
import Navigation from './Navigation.astro'
import Footer from "./Footer.astro";

interface Props {
	pageTitle?: string;
}
const { pageTitle= "UmYeah's Dev" } = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		{import.meta.env.PROD && (
			<script defer src="https://cloud.umami.is/script.js" data-website-id="8f4cf848-6c38-4f28-90a8-b74fc6b923c9" />
		)}
		<script is:inline src="https://kit.fontawesome.com/c814bbafd8.js" crossorigin="anonymous" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
		<script is:inline>
			(() => {
				const eventName = 'external-link-click';
				
				function getSource(link) {
					if (link.closest('footer')) return 'footer';
					if (link.closest('nav')) return 'navigation';
					if (link.closest('section') || link.closest('article')) return 'blog-content';
					return 'page';
				}
				
				document.querySelectorAll('a').forEach(a => {
					if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
						const source = getSource(a);
						const destination = a.hostname;
						
						a.setAttribute('data-umami-event', eventName);
						a.setAttribute('data-umami-event-source', source);
						a.setAttribute('data-umami-event-destination', destination);
					}
				});
			})();
		</script>
	</body>
</html>

<style>
	html.dark {
		background-color: #202;
		color: #fef;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		margin: 0;
	}

	main {
		flex: 1;
		width: 1200px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em 1em;
		text-align: center;
	}

	@media (max-width: 1200px) {
		main {
			padding: 1em 0;
		}
	}
</style>
