---
import '../styles/global.css'
import Navigation from './Navigation.astro'
import Footer from "./Footer.astro";

interface Props {
	pageTitle?: string;
}
const { pageTitle= "UmYeah's Dev" } = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html.dark {
		background-color: #202;
		color: #fef;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
	}

	main {
		flex: 1;
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
		text-align: center;
	}
</style>
