---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <p>Published on: {frontmatter.pubDate.toLocaleDateString()}</p>
    <hr />
    <slot />
</Layout>