---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<base target="_blank" />

<Layout pageTitle={`UmYeah's Blog - ${frontmatter.title}`}>
    <h2>{frontmatter.title}</h2>
    <strong>{frontmatter.description}</strong>
    <p style="font-size: 16px;">Published on: {frontmatter.pubDate.toLocaleDateString()}</p>
    <hr />
    <section>
        <slot />
    </section>
</Layout>

<style>
    section {
        text-align: left;
    }
</style>