---
import NavigationLink from "./NavigationLink.astro"
---
<header>
    <nav>
        <section class="left">
            <h2><NavigationLink href="/" target="_self">UmYeah.dev</NavigationLink></h2>
        </section>

        <section>
            <NavigationLink match="/posts" href="/blog" target="_self">Blog</NavigationLink>
            <NavigationLink href="/tags" target="_self">Tags</NavigationLink>
            <NavigationLink href="/resume" target="_self">Resume</NavigationLink>
        </section>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
        display: flex;
        justify-content: center;
    }
    h2 {
        margin: 0;
        font-size: 1em;
        display: inline-block;
    }
    section.left {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: var(--max-site-width);
    }
    nav a {
        padding: 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
        display: inline-block;
    }
    nav a:hover {
        color: rgb(var(--gray));
    }
    nav a.active {
        border-bottom-color: var(--accent);
    }

    html.dark nav a {
        color: #fff;
    }
    html.dark nav a.active{
        border-bottom-color: #bbb;
    }
</style>
